{% extends "base.html.twig" %}

{% block title %}AppBundle:Homepage:homepage{% endblock %}

{% block body %}
<style>
    .btn-size{
        width: 30%;
        height: 30%;
    }
</style>
<div align="center">
    <h1>Welcome to the homepage!</h1>
    <a href="{{ path('quizzes_list') }}" class="btn btn-success btn-size">Play</a>
</div>
{% endblock %}
